@use '../../colours' as *;
@import '../../shared.scss';

.login-container {
  @apply flex flex-col items-center justify-center min-h-screen;
  background-color: $bg-base;
}

.login-form {
  @apply p-8 rounded-lg shadow-lg w-full max-w-md;
  background-color: $bg-surface;
  color: $text-primary;
}
