@use '../colours' as *;

.send-form-button {
    background-color: $success;
    color: $text-white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: $success-hover;
    }
}
